@media (min-width: 1200px) {
	.container {max-width: 1170px;}
}
@media (min-width: 1400px) {
	.container {max-width: 1370px;}
}
@media (min-width: 1500px) {}
@media (max-width: 1366px) {}
@media (max-width: 1280px) {}
@media (max-width: 1199px) {}
@media (max-width: 1024px) {}
@media (max-width: 991px) {
	h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}
	.navbar-nav .nav-link {
    font-size: 14px;
    padding: 8px 8px !important;
}

.activeListView .card_postInfo{    flex-wrap: wrap;
    align-content: center;}
.activeListView .card_postInfo h4{width: 100%; padding-right: 0;}

.sidebarPostRow {display: flex; flex-wrap: wrap;}
.sidebarPost{    width: 50%; padding-left: 2px;
    padding-right: 2px;}

}
@media (max-width: 860px) {}
@media (max-width: 768px) {}
@media (min-width: 768px){
	.mobileOnly{display: none;}
	
}
@media (max-width: 767px) {
h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}
.scrollDownIc img {
    width: 22px;
}

	.copyRight p{margin-top: 15px;}
	.mobileOnlyHide{display: none;}
	.navbar-brand img{height: 40px;}

	.arrowTop_Slide .slide-arrow{bottom: -30px; top: unset;}
.arrowTop_Slide .prev-arrow{left: calc(50% - 140px); }
.arrowTop_Slide .next-arrow{right: calc(50% - 140px);} 

.lightTheme .latestBids_Slide .prev-arrow {left: calc(50% - 55px);}
.lightTheme .latestBids_Slide .next-arrow {right: calc(50% - 55px);}

.title_combo{justify-content: center;}
.title_combo span{display: block; margin: 0; width: 100%; text-align: center; margin-top: 10px;}

.price__ {
    font-size: 20px;}
.card_postImg {height: 250px;}
.blogPost {
    height: 250px;
} 

.btn{font-size: 14px; padding: 12px 25px;}

.bgHolder h1.text-back{color: #fff !important;}

.pt_sm_50{padding-top: 50px;}

.postTopOption{flex-wrap: wrap;}

.postHero {height: 250px;}

.sideBar__{display: flex; overflow: auto; padding-bottom: 8px;}
.sideBar__ li{white-space: nowrap; padding: 8px;}
.daily_mail {  padding: 30px 15px;}
.daily_mail_box button { position: inherit;}
.daily_mail input { padding: 22px 15px;  margin-bottom: 10px;}

}

@media (max-width: 575px) {
	.prev-arrow:before, .next-arrow:after{width: 50px;}

	.prev-arrow,
	.arrowTop_Slide .prev-arrow{left: calc(50% - 110px); }
	.next-arrow,
	.arrowTop_Slide .next-arrow{right: calc(50% - 110px);} 
	.fLinks_row li {width: 50%;}

    .heroCar:after,
.heroCar:before{width: 400px; height: 400px;}
.heroBanner .heroText_2 {
    padding: 40px 20px 50px;
}
.heroBanner .heroText_2 h3 br{display: none;}

.searchModal .modal-content {width: 90%;}

.bidList_ li label {
    min-width: 120px;}
.detailPostOption .d-flex{flex-wrap: wrap;}
.detailPostOption .gry_btn{margin-bottom: 5px;}

.bidList_ li{width: 100%; padding-right: 0px;}
.orderImg{width: 100%; height: 250px;}
.orderInfo{width: 100%; padding: 10px 0px;}
.orderStep {flex-wrap: wrap; margin-bottom: 15px;}
.orderStep li {text-align: left;
    width: 100%; padding: 0px 0px 10px 25px;}
.orderStep li:before{width: 3px; height: 100%; left: 6px;}
.orderStep li:last-child:before {
    width: 3px; display: none;
}
.orderStep li:after{top: 0px; left: 8px;}
.orderStep li.active:last-child:after {top: 0px;}


}
@media (max-width: 480px) {
	.heroBanner .heroText_2 {padding: 40px 20px 100px;}
	.postTopOption li:last-child,
	.postTopOption li .post_select{width: 100%;}
	.activeListView .card_postImg {width: 150px; height: 100px;}
	.sidebarPost .sidebarPost_Img,
	.imgGalleryRow .fancyCol, 
	.videoGalleryRow .fancyCol {/*height: 120px;*/}
	.orderImg{width: 100%; height: 150px;}
}
@media (max-width: 414px) {}
@media (max-width: 375px) {}