.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
    width: 100%;
    word-break: break-word;
  }

  .navbar-brand img {
    width: 231px !important;
    position: relative;
    z-index: 999 !important;
}
