.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
    width: 100%;
    word-break: break-word;
  }

  .navbar-brand img {
    width: 231px !important;
    position: relative;
    z-index: 999 !important;
}



#sticky{
  display: block !important;
  position: sticky !important;
    top: 0 !important;
    z-index: 99;
  }


  .ant-image-mask-info{
    display: none;
  }

  .darkSun{
        margin-right: -55px;
          margin-top: -11px;
  }

/* #scrollable{
            width: 111%;
            
            overflow-x: scroll;
            }

#widthChnge{
  width: 111%;
}

#hr{
  width: 111%;
} */

#text1{
text-transform: capitalize;
}

input[type=search],input[type=text], textarea{
  text-transform: capitalize;
}
